@font-face {
    font-family: 'Luckiest Guy';
    src: url('./fonts/LuckiestGuy-Regular.woff2') format('woff2'),
        url('./fonts/LuckiestGuy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Luckiest Guy';
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    user-select: none;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* LOGO */
#logo-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(192, 190, 190, 0.208);
    color: white;
}

#logo {
    width: z;
    height: 500px;
    margin: 15px;
    opacity: 1;
    animation: logoAnimation 3s ease-in-out;
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.8) rotateX(90deg);
        filter: blur(10px);
    }

    50% {
        opacity: 0.8;
        transform: translateY(-10px) scale(1.1) rotateX(0deg);
        filter: blur(2px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1) rotateX(0deg);
        filter: blur(0);
    }
}

#my-name {
    color: orangered;
    opacity: 0;
    animation: fadeInText 2s 1.5s ease-in-out forwards;
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* home page */
.centeredDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(192, 190, 190, 0.208);
    z-index: 1;
}

.welcomeDiv {
    display: none;
}

#monkey-face {
    width: 30vw;
    height: 30vh;
    filter: drop-shadow(2px 2px 10px rgba(255, 68, 0, 0.534));
    transition: all 0.4s ease;
}

#monkey-face:hover {
    transform: scale(1.03);
}

input[type=text] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    font-family: 'Luckiest Guy';
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #B2C363;
    outline: none;
    background: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.05);
    color: #333;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    border: 2px solid #8CAF50;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.389);
    transform: scale(1.02);
}

input[type="text"]:hover {
    border: 2px solid #A3B956;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

input[type="text"]::placeholder {
    color: #888;
    font-style: italic;
    opacity: 0.7;
}

.playStartBtn {
    border-radius: 5px;
    padding: 10px;
    font: 16px 'Luckiest Guy';
    color: white;
    background-color: #B2C363;
    transition: all 0.3s ease;
    border: 2px solid #A3B956;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
}


span#errorUserName {
    color: red;
    font: bold 16px 'Luckiest Guy';
    display: none;
}

#welcome {
    color: white;
    font: 1000 3rem 'Luckiest Guy';
    text-align: center;
    margin: 10px;
    text-shadow: 4px 4px 8px black;
    transition: all 1s;
}

#welcome:hover,
#welcome:focus {
    transform: scale(1.08);
}

/* game page */
.gameContainer {
    position: relative;
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.214);
    border: 20px solid #b1c3637b;
    z-index: 1;
}

.monkey {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 80px;
    width: 80px;
}

.banana {
    position: absolute;
    height: 70px;
    width: 70px;
}

.stone {
    height: 30px;
    width: 30px;
    position: absolute;
}

#timer {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    color: orangered;
    font: 1000 2rem 'Luckiest Guy';
}

.stopwatchwrapper {
    display: flex;
    gap: 10px;
}

#username {
    color: orangered;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    overflow: hidden;
}

#name,
#stopwatch,
#score {
    color: white;
}

.playAgain {
    width: 15vw;
    height: 7vh;
    padding: 20px 8vw;
    font: bold 1rem 'Luckiest Guy';
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    color: white;
    background-color: #79863f;
    transition: all 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.588);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.playAgain:hover,
.playStartBtn:hover {
    background: #9CAF50;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    color: #333;
}

.playAgain:focus,
.playStartBtn:focus {
    outline: none;
    box-shadow: 0px 0px 8px #B2C363;
}

.cancel {
    background: red;
}

.cancel:hover,
.cancel:active,
.cancel:focus {
    background: rgb(245, 69, 69);
}

.swal-title {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px white, -1px -1px 0px white;
    margin-bottom: 15px;
    color: #0F2D23;
}

#shootIndicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid white;
}

#fullscreen-btn {
    background-color: rgba(192, 190, 190, 0.208);
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}

#fullscreen-btn:hover {
    background-color: rgba(128, 128, 128, 0.208);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#fullscreen-btn:active {
    background-color: rgba(128, 128, 128, 0.208);
    transform: scale(0.98);
}

.winImg {
    margin: 0 auto;
}

.actions {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

/* .form-control {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #555555;
    font-family: 'Luckiest Guy';
    text-align: center;
    text-align-last: center; 
} */
.form-control option {
    text-align: center;
}

select.form-control {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Luckiest Guy';
    font-size: 16px;
    color: #555555;
    text-align: center;
    text-align-last: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .centeredDiv {
        width: 90%;
        padding: 20px;
    }

    #logo {
        width: 350px;
        height: 450px;
    }


    #monkey-face {
        width: 70vw;
        height: auto;
    }

    #welcome {
        font-size: 2.5rem;
    }

    #timer {
        font-size: 0.9rem;
    }

    .gameContainer {
        width: 90vw;
        height: 70vh;
    }

    .playAgain {
        width: 40vw;
    }

    #fullscreen-btn {
        width: 40px;
        height: 40px;
    }

    .banana {
        width: 45px;
        height: 45px;
    }

    .monkey {
        height: 45px;
        width: 45px;
    }

}


@media (max-width: 600px) {
    .swal2-popup {
        width: 80vw;
        padding: 20px;
    }

    .swal2-title {
        font-size: 1.5em;
    }

    .swal2-text {
        font-size: 1em;
    }

    .swal2-image {
        width: 50%;
    }

    .swal2-confirm,
    .swal2-cancel {
        padding: 12px 20px;
    }
}